---
interface Props {
    title: string
    imageSrc: string
}

const { title, imageSrc } = Astro.props
---

<li class="size-10 md:size-32 rounded-md flex justify-center items-center">
    <img src={`${imageSrc}`} width="70" />
    <!-- <p class="font-medium text-gray-200">{title}</p> -->
</li>
