---
interface Props {
    title: string
    imageSrc: string
}

const { title, imageSrc } = Astro.props
---

<li
    class="w-[120px] h-[120px] rounded-md flex flex-col justify-center items-center gap-2"
>
    <img src={`${imageSrc}`} width="70" />
    <!-- <p class="font-medium text-gray-200">{title}</p> -->
</li>
