---
import MailIcon from '../icons/MailIcon.astro'
import PenIcon from '../icons/PenIcon.astro'
import SourceCodeIcon from '../icons/SourceCodeIcon.astro'
import BriefcaseIcon from '../icons/BriefcaseIcon.astro'
---

<nav
    id="nav"
    class="w-full h-14 bg-white flex items-center p-2 fixed z-50 transition-opacity"
>
    <div class="w-48 px-6 hidden md:block">
        <SourceCodeIcon class="size-10" />
    </div>
    <div
        class="flex flex-1 justify-center md:justify-end items-center gap-6 text-xs md:text-base"
    >
        <a href="#about" class="flex gap-1 items-center">
            <PenIcon class="size-5" />
            About
        </a>
        <a href="#contact" class="flex gap-1 items-center">
            <MailIcon class="size-5" />
            Contact
        </a>
        <a
            href="#projects"
            class="flex gap-1 items-center h-10 bg-green-500 rounded-md px-3 text-white"
        >
            <BriefcaseIcon class="size-5" />
            My projects
        </a>
    </div>
</nav>

<script>
    const navbar = document.querySelector('#nav')

    window.addEventListener('scroll', () => {
        if (window.scrollY > 56) {
            navbar?.classList.add(
                'shadow',
                'border-b',
                'border-slate-300',
                'opacity-90'
            )
        } else {
            navbar?.classList.remove(
                'shadow',
                'border-b',
                'border-slate-300',
                'opacity-90'
            )
        }
    })
</script>
