---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="A dev portfolio">
    <main>
        <h1 class="text-white text-center text-4xl">hello</h1>
    </main>
</Layout>

<style>
    main {
        min-height: 100vh;
        background-color: var(--black);
    }
</style>
