---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/astro/Navbar.astro'
import ProjectsList from '../components/ProjectsList'
import Card from '../components/astro/Card.astro'
import GithubIcon from '../components/icons/GithubIcon.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import FacebookIcon from '../components/icons/FacebookIcon.astro'

const techStack = [
    {
        title: 'Javascript',
        logo: '/js.svg',
    },
    {
        title: 'Typescript',
        logo: '/typescript.svg',
    },
    {
        title: 'Node JS',
        logo: '/node.svg',
    },
    {
        title: 'React',
        logo: '/react.svg',
    },
    {
        title: 'Tailwind',
        logo: '/tailwind.svg',
    },
    {
        title: 'GraphQL',
        logo: '/graphql.svg',
    },
    {
        title: 'Vite',
        logo: '/vite.svg',
    },
    {
        title: 'NextJS',
        logo: '/next.svg',
    },
    {
        title: 'Git',
        logo: '/git.svg',
    },
]
---

<Layout title="Portfolio de Jesus Avila, desarrollador web">
    <main>
        <Navbar />
        <section
            id="top"
            class="from-white from-10% via-transparent to-transparent bg-cover h-[864px] flex justify-center items-center"
        >
            <div class="w-[1024px] h-[480px] flex flex-col items-center gap-4">
                <img
                    class="rounded-full w-40 h-40"
                    src="https://avatars.githubusercontent.com/u/76699893?v=4"
                    alt="Foto de perfil de jesusaviladev"
                />
                <h1 class="text-6xl font-bold my-4 text-center">
                    Hola <span class="inline-block animate-wave">👋</span>, soy <span
                        class="text-green-500">@jesusaviladev</span
                    >
                </h1>
                <p class="text-xl font-normal text-center">
                    Programador y entusiasta de la tecnología 👨‍💻, especialista
                    en el desarrollo de aplicaciones utilizando el ecosistema de
                    Javascript
                </p>
            </div>
        </section>
        <section
            id="projects"
            class="bg-black min-h-[1130px] py-32 px-4 text-white overflow-hidden"
        >
            <h2 class="text-4xl font-bold p-2">Projects</h2>
            <ProjectsList client:only />
        </section>
        <section id="about" class="bg-white h-[513px] py-36 px-4 text-black">
            <h2 class="text-4xl font-bold p-2 text-green-500">About</h2>
            <p class="text-6xl font-bold p-2">Lorem ipsum dolor sit amet</p>
        </section>
        <section class="bg-black h-[680px] text-white">
            <div class="h-3/5 py-14">
                <h2 class="text-4xl font-bold p-2">My Tech Stack</h2>
            </div>
            <div class="h-2/5 bg-[color:var(--dark-blue)] py-14 px-4">
                <ul class="flex justify-center items-center gap-4">
                    {
                        techStack.map((tech) => (
                            <Card title={tech.title} imageSrc={tech.logo} />
                        ))
                    }
                </ul>
            </div>
        </section>
        <section id="contact" class="h-[652px] bg-black text-white">
            <h2 class="text-4xl font-bold p-2">Contact</h2>
        </section>
    </main>
    <footer
        class="h-[260px] py-16 px-8 grid grid-rows-1 grid-cols-2 bg-black text-white"
    >
        <section class="p-2">
            <p class="my-2">
                Made with 💖 by <span class="text-green-500"
                    >@jesusaviladev</span
                >
            </p>
        </section>
        <section class="p-2">
            <h3 class="font-medium my-1">Social links</h3>
            <nav class="flex gap-6 items-center">
                <a
                    href="https://github.com/jesusaviladev"
                    target="_blank"
                    rel="noreferrer"
                >
                    <GithubIcon />
                </a>
                <a href="https://linkedin.com" target="_blank" rel="noreferrer">
                    <LinkedInIcon />
                </a>
                <a href="https://facebook.com" target="_blank" rel="noreferrer">
                    <FacebookIcon />
                </a>
            </nav>
        </section>
    </footer>
</Layout>

<style>
    main {
        min-height: 100vh;
    }
</style>
