<nav class="h-14 bg-white flex items-center p-2">
    <div class="w-48">
        <p>Loguito aqui</p>
    </div>
    <div class="flex flex-1 justify-end items-center gap-3">
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a
            href="#projects"
            class="flex items-center h-10 bg-green-500 rounded-md px-5 py-1 text-white"
            >My projects</a
        >
    </div>
</nav>
