---
interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="A dev portfolio" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --white: #f5f5f5;
        --black: #000000;
        --light-gray: #b3b3b3;
        --gray: #9ca3af;
        --primary: #62c370;
        --background: #4b5563;
        --background-secondary: #27272a;
    }
    html {
        font-family: system-ui, sans-serif;
    }
    body {
        background: var(--white);
        min-height: 100vh;
    }
</style>
